@{
    ViewBag.Title = "Upload Media";
}

<h2>Upload Media</h2>

<form asp-action="UploadMedia" asp-controller="Media" method="post" enctype="multipart/form-data">
    <div>
        <label>Select file to upload:</label>
        <input type="file" name="file" />
    </div>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>

@if (ViewBag.Message != null)
{
    <div>
        <p>@ViewBag.Message</p>
        <a href="@ViewBag.Url" target="_blank">View Uploaded File</a>
    </div>
}
